<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-11">
            <a href="/author/edit/-1">
                <button type="button" class="btn btn-success">Добавить</button>
            </a>
        </div>
    </div>
    <th:block th:each="author : ${authors}">
        <div class="row">
            <div class="col-4" th:text="${author.getFio()}"></div>
            <div class="col-6">
                <th:block th:each="book : ${author.getBooks()}">
                    <span th:text="${book} ? ${book.getName()} : ''"></span>
                </th:block>
                <br/>
            </div>
            <div class="col-1">
                <a href="/author/edit/th:text='${author.getId()}'">
                    <button type="button" class="btn btn-success">
                        Редактировать
                    </button>

            </div>
            <div class="col-1">
                <a href="/author/delete/th:text='${author.getId()}'">
                    <button type="button" class="btn btn-danger">
                        Удалить
                    </button>
                </a>
            </div>
        </div>
    </th:block>
    <div class="row">
        <div class="col-11">
            <a href="/author/edit/-1">
                <button type="button" class="btn btn-success">Добавить</button>
            </a>
        </div>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>